/* nav  */
#search-team-list {
  position: absolute;
  right: 0;
  top: var(--nav-height);
  background: var(--dracula_orchid);
  font-size: 1.6rem;
  font-weight: 500;
  list-style: none;
  border-bottom-left-radius: 7px;
  width: 25rem;
}

#search-team-list :last-child {
  border-bottom-left-radius: 7px;
}

#search-team-list li {
  width: 100%;
  cursor: pointer;
}

#search-team-list li:hover,
#search-team-list li :focus,
#search-team-list li :active {
  color: var(--mint_leaf);
  outline: none;
}

#search-team-list li a {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* main */
.main-teams {
  display: grid;
  grid-template-columns: 10rem 1fr;
  height: calc(100vh - var(--nav-height));
}

.side-bar {
  background: var(--dracula_orchid);
}

.side-bar .team-select {
  background: var(--dracula_orchid);
}

.team {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.tab-list {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.tab-list button {
  background: none;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--dark-dracula_orchid);
  color: var(--soothing_breeze);
}

.tab-list button.active {
  border: 1px solid var(--mint_leaf);
  color: var(--mint_leaf);
}

.team-content {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.basic-content {
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-items: center;
  padding: 1rem;
  color: var(--city_lights);
}

.basic-content img {
  width: 10rem;
}

.basic-content h1 {
  font-size: 2.4rem;
}

.basic-content p {
  font-size: 1.8rem;
  font-weight: 600;
}