.logo {
  color: var(--bright_yarrow);
}

/* main */
.main-query {
  display: grid;
  grid-template-columns: 1fr max-content;
  height: calc(100vh - var(--nav-height));
}

.tab-list {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.tab-list button {
  background: none;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--dark_dracula_orchid);
  color: var(--soothing_breeze);
  transition: all 0.3s;
}

.tab-list button:hover {
  border: 1px solid var(--mint_leaf);
}

.tab-list button.active {
  border: 1px solid var(--mint_leaf);
  color: var(--mint_leaf);
}

.schema {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5rem 2rem;
  background: var(--dracula_orchid);
  border-radius: 5px;
  margin: 0.5rem 1rem 1rem 0;
}

.schema h2 {
  font-size: 2rem;
  color: var(--mint_leaf);
  border-radius: 3px;
}

.schema pre {
  font-size: 1.2rem;
  overflow: hidden;
  height: 100%;
  color: var(--soothing_breeze);
}

.schema .schema-table {
  cursor: pointer;
}

.schema .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schema .table-header svg {
  height: 20px;
  width: 20px;
}

.schema .schema-table h3 {
  font-size: 1.4rem;
  color: var(--mint_leaf);
}

.schema pre.hide-schema {
  height: 0;
}

@media (max-width: 53.125em) {
  .main-query {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
  }

  .schema {
    margin: 1rem 1rem 1rem 1rem;
  }
}

@media (max-width: 37.5em) {
  .main-query {
    height: calc(100vh - var(--mobile-nav-height));
  }
}
